@media only screen and (min-width: 32.5em) {
    header h1 {
      color: white;
      font-family: "Lato", sans-serif;
      font-size: 3em;
      margin: 0;
    }
  
    .card-stack {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1em;
    }
  }