header h1 {
  color: white;
  font-family: "Lato", sans-serif;
  margin: 0;
}

header,
  footer {
    text-align: center;
    margin: 0 auto;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 780px;
    background-color: #e25058;
    border-radius: 20px 20px 0px 0px;
  }

  
  main {
    max-width: 760px;
    margin: 0 auto;
  }

  .card-stack {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
  }
  
  
  .card-1,
  .card-2,
  .card-3 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    text-align: center;
    border-radius: 20px;
  }

  img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    align-items: center;
    max-width: 100%;
  }

  footer{
    font-size: 20px;
    margin-top: 10px;
  }

p {
    font-family: "PT Serif", serif;
    line-height: 1.5;
    text-align: center;
    margin: 1em 3em;
    font-size: 18px;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Lato", sans-serif;
    color: black;
    line-height: 1.5em;
  }

  #cart{
    color: #E5F4E3;
    font-size: 36px;
    font-style: italic;
  }
  
  .card h2 {
    font-size: 2em;
  }
  
  body {
    background-color: black;
  }
  
  .home{
    color: #E5F4E3;
    font-size: 20px;
    text-decoration: none;
  }