@import url("https://fonts.googleapis.com/css2?family=Moul&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

header {
  align-items: center;
  display: grid;
  grid-template-columns: 110px auto;
}
.logo-box {
  background-color: white;
  border: 1px solid #a43312;
  border-radius: 50px 50px 0 0 ;
  padding: 0.5em;
  border: 1px solid #a43312;
}
#banner-image {
  width: 100%;
  height: auto;
}
.banner-box img {
  width: 100%;
  }
.action {
    grid-column: 1;
    grid-row: 1;
    background-color: rgba(100, 200, 240, 0.8);
    margin: 1em 3em;
    padding: 1em;
    text-align: center;
}

.action button {
    line-height: 2em;
    width: 10em;
    background-color: #D36135;
    font-size: 1.2em;
}


header,
footer {
  background-color: #B87D4B;
  color: white;
}
nav a {
  color:black; 
  line-height: 18px;
  text-decoration: none;
  font-weight:bold;
}
nav a:hover {
  /*what happens when hover over link*/
  color: #D36135;
  text-decoration: underline;
}
nav a:visited {
  color: #311847; 
}

nav ul {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(5em, 1fr)
  ); /*tells browser to create columns that are 1fr big, but no columns can be smaller tha 6em (based on the length of the longest link-any smaller than this & words get squished)*/
  list-style: none; /*removes bullets*/
  margin: 0;
}
nav ul li {
  text-align: center; /*centers links*/
}
main {
  background-color: #F7F2C6;
}



body {
  background-color:#70A37F ;
  font-family: "open sans",Arial, sans-serif;
  font-size: 1.1em;
  padding: 1em;
}
h2 {
  font-family: "open sans",Arial, sans-serif;
  font-size: 1.5em;
  margin-bottom: -20px;
  padding: 0.5em;
  border-top: 5px double;
  border-bottom: 5px double;
  background-color:  #D36135;
  text-align: center;
}


img {
  max-width: 100%;
}
#content {
  max-width: 960px;
  margin: 0 auto;
}
div {
  max-width: 960px;
  padding: 10px;
}



main p {
  line-height: 1.6em;
  padding: 20px 20px 20px 20px;
}
section {
  max-width: 960px;
  padding: 10px;
}
footer {
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid #a43312;
  border-top: 4px solid black;
  padding: 0.5em;
}
.p {
  text-align: left;
}
.social {
  text-align: right;
}

div.focal{
  text-align: right;
}

@media screen and (max-width: 550px) {
  /*will look better on a cell phone*/
  .home-grid,
  nav ul,
  banner-box {
    display: block;
  }
  nav ul li {
    text-align: left;
  }
  .social img {
    width: 45px;
  }
  .banner-box {
    display: block;
  }

  .action button {
    line-height: 0.8em;
    width: 8em;
    background-color: #D36135;
    font-size: 1em;
}

}.red{
  color: red;
}

.blue{
  font-family:cursive;
  color: blue;
}




a {
  text-align: center;
  text-decoration: none;
  color: white;
}

